PORT=1111
HOST=127.0.0.1
SCAN_CONCURRENCY=4
TRANSCODE_CONCURRENCY=2
STREAM_CONCURRENCY=8
CACHE_MAX_MB=1024
MAX_SCAN_FILES=100000
MAX_SCAN_FAILURES=10000
JSON_LIMIT=20mb
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
FFPROBE_TIMEOUT_MS=10000
FFMPEG_TIMEOUT_MS=3600000
# DATA_DIR=C:\Users\YourName\AppData\Local\LocalAmp
MAX_CONCURRENT_REQUESTS=512
